.Card
{
    margin: 0;
    padding: 1%;
    border: 0;
}
.Card h2
{
    font-weight: bolder;
    font-size: 1.6em;
    padding: 6px;
}
.Card article
{
    color: white;
    font-size: 1.1em;
    padding: 20px;
}
.Desc
{
    display: flex;
    background-color: black;
}
.Desc button
{
    background-color: rgb(119, 187, 255);
    margin: 9px;
    padding: 11px;
    overflow: auto;
    text-align: left;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.06em;
}
.Desc nav
{
    flex-wrap: nowrap;
}
.bg-1
{
    background-image: url("images/1.png");
    flex-grow: 3;
}
.bg-2
{
    background-image: url("images/2.png");
    flex-grow: 3;
}
.bg-3
{
    background-image: url("images/3.png");
    flex-grow: 3;
}